{% extends 'base.html'%}


{% block title %}Contact{% endblock%}


{% block content %}
<h1>
    Template Homepage I think i can put what ever I want here?
    yup
    a';psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG

ADKRFJGNSAKDLJGBKLAJBEFLKJbeflkjbaref

IN THE CONTACT PAGE

;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 1
;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 2
;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 3
;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 4
;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 5
;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 6
;psdfj;lakderfglkp;jasdvkljbsdt;lkbnaL;KSBFL;KJADEBFG 7


</h1>

{% endblock%}